<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">🍿Movie Reviews🍿</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved">SAVED ARTICLES</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger scrape-new">SCRAPE NEW ARTICLES!</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger clear">CLEAR ARTICLES!</a>
      </li>
    </ul>
  </div>
</nav>
<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Mongo Scraper</h1>
    <p>Rotten Tomatoes Edition</p>
  </div>
</div>

{{!-- Movie Review Data goes here  --}}
{{!-- Cards with save button --}}
<div class="container-fluid article-container">
  {{#if article}}
  {{#each article}}
  <div data-_id={{this._id}} class="card"></div>
  <div class="car-header">
    <h3>
      <button type="button" id="save-button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
        data-whatever="@mdo">Save Article</button>
      {{!-- <a class="btn btn-success save">Save Article</a> --}}
      <a class="article-link" target="_blank" rel="noopener noreferrer" href={{this.reviewLink}}>{{this.movieTitle}}</a>
    </h3>
  </div>
  <div class="card-body">{{this.review}}</div>
</div>
{{/each}}
{{!-- /each --}}
</div>
{{else}}
<div class="alert alert-warning text-center">
  <h4>No New Articles</h4>
</div>
<div class="card">
  <div class="card-header text-center">
    <h3>What would you like to do?</h3>
  </div>
  <div class="card-body text-center">
    <h4>
      <a class="new-scrape">Try Scraping New Articles</a>
    </h4>
    <h4>
      <a href="/saved"> Go to saved Articles</a>
    </h4>
  </div>
</div>
{{/if}}
{{!-- Modal --}}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Title of Note</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Leave a Note</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save Article</button>
      </div>
    </div>
  </div>
</div>



{{!-- footer --}}
<footer class="footer">
  <div class="container">
    <p>Rotten Tomatoes Mongo Scraper</p>
  </div>
</footer>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- <script src="/js/index.js"></script> --}}
<script src="/js/articles.js"></script>